<div class="row margin-more-top">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam saepe asperiores quia consequatur
            placeat nihil expedita magni eveniet dolorum doloribus, eligendi voluptates illo! Natus praesentium sit at
            doloremque quasi. Laboriosam. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet autem labore
            quas veniam iusto dolore, delectus neque culpa? Vel ipsum adipisci harum quasi? Ipsa est voluptatibus quasi
            eligendi tenetur commodi! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere maxime fuga fugit
            enim quibusdam? Sed quaerat quod ipsam rerum voluptate praesentium velit, possimus quo repellendus
            blanditiis earum autem id perspiciatis!</h5>
        <p class="lead margin-top">
            <a class="btn btn-primary btn-md" href="#" role="button">Learn more</a>
        </p>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <img src="/assets/images/homepage.png" class="img img-fluid" alt="Vinod Kumar Kayartaya">
    </div>
</div>
